<a href="https://colab.research.google.com/github/YorkshireTea85/hangman_python/blob/master/Python_01_Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<img src="https://drive.google.com/uc?id=1VLwqWq8l14EZ5hskFUumhyR-PjF3EF_1" alt="Wyton Station Logo" width="100%">

#<font color="green">**Python Tutorial 01 - Numbers**</font>

#**Introduction to Numbers and More in Python!**

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

1.   Types of Numbers in Python.
2.   Basic Arithmetic.
3.   Differences between classic division and floor division.
4.   Object Assignment in Python.

##**Types of numbers**
Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Throughout this course we will be mainly working with integers or simple float number types.

Now let's start with some basic arithmetic.

# **Basic Arithmetic**

Python can manipulate numbers in very much the same way in which you would use a calculator. This is done through the use of "arithmetic operators". An operator is a pythonic term for the symbol used to carry out a particular operation (hence the name). Here is a list of operators we can use:

Operator  | Function 
----------|-------------
+         | Addition
-         | Subtraction 
*         | Multiplication
/ | Division
%| Modulus
** | Exponentiation
//| Floor Division

In [ ]:
# Addition (try replacing the values below so the output returns 42)
2 + 1

In [ ]:
# Subtraction (try replacing the values below so the output totals 14)
100 - 27

In [ ]:
# Multiplication (try replacing the values below so the output totals 20)
2*2

In [ ]:
# Division (try replacing the values below so the output totals 2.5)
3/2

In [ ]:
# Floor Division (Whoa! What happened here? See below for an explanation)
7//4

The reason we get the result above is because we are using "floor" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

What if we want the remainder after a division?

In [ ]:
# Modulo
7%4

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division. One usecase of modulo is to check if a number is even or not. If the result of a given number %2 is equal to 0 then we know it is even.

In [ ]:
# Powers (try replacing the values below so the output is 3 to the power of 3)
2**3

In [ ]:
# You Can also do roots this way (The example below gives the square root of 4)
4**0.5

In [ ]:
# Order of Operations followed in Python (Brackets, Orders, Division, Multiplication, Addition, Subtraction (BODMAS))
2 + 10 * 10 + 3

In [ ]:
# You can use parentheses to specify orders
(2+10) * (10+3)

# **Variable Assignments**

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [ ]:
# Let's create an object called "a" and assign it the number 5
a = 5

Now if I call a in my Python script, Python will treat it as the number 5.

In [ ]:
# Adding the objects
a+a

What happens on reassignment? Will Python let us write it over?

In [ ]:
# Reassignment
a = 10

In [ ]:
# Check
a

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [ ]:
# Check
a

In [ ]:
# Use A to redefine A
a = a + a

In [ ]:
# Check 
a

The names you use when creating these labels need to follow a few rules:

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
4. It's considered best practice (PEP8) that names are lowercase.
5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
   or 'I' (uppercase letter eye) as single character variable names.
6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [ ]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [ ]:
# Show my taxes!
my_taxes

10.0

So what have we learned? We learned some of the basics of numbers in Python. We also learned how to do arithmetic and use Python as a basic calculator. We then wrapped it up with learning about Variable Assignment in Python.

# **Test What You've Learned**

Now let's use what we have learned by applying it to a scenario.

Monty earns a gross salary of 25,000 each year.
Monty must pay 12% of his gross salary in National Insurance.
Monty must pay a basic rate of Income Tax at 20% of his gross salary.

You are to create variables for and calculate the following in the cells provided:

*   The amount Monty must pay in Income Tax.
*   The amount Monty must pay in National Insurance.
*   The total combined deductions Monty must pay.
*   The total net salary that Monty has remaining.
*   The total net monthly income Monty will have.

In [ ]:
#The amount Monty must pay in Income Tax.

In [ ]:
#The amount Monty must pay in National Insurance.

In [ ]:
#The total combined deductions Monty must pay.

In [ ]:
#The total net salary that Monty has remaining.

In [ ]:
#The total net monthly income Monty will have.

Now build a temperature converter.

The formula to go from Celsius to Farenheit is (°C x 9/5) + 32, meaning 0°C = 32°F.
Create variables for C and F and return the conversions as below.

In [ ]:
#Write a single line, taking the temperature of 0°C and returning 32°F

In [ ]:
#Do the same thing but take 32°F and return 0°C

Have a play with the more advanced ideas of `modulo` and `floor division` by answering the following questions:

In [ ]:
#Is 2372 divisible by 8?

You should have a remainder indicating that 2372 is not divisible by 8 (sorry for the spoiler!). Now take the remainder from 2372 and try again. This time the remainder should be 0.

Now try `floor division` on the following, such that 38 and 4 becomes `38//4`

In [ ]:
#20 and 3

In [ ]:
#12465 and 234

In [ ]:
#57346 and 1263

Remember, floor division tells you how many times one number goes into another but doesn't give any kind of remainder. 4//3 = 1 because 3 goes into 4 once.

These concepts are pretty straightforward but the applications for these will soon become immensely useful. What you'll find with Python is that the syntax (language) and concepts are relatively easy, but the challenge (and the interesting parts!) comes with trying to use these concepts in a logical manner to solve problems. 
An example question might be something like - `The sum of all prime numbers under 10 is 17. What is the sum of all prime numbers under 1,000?`
Currently you lack the knowledge to solve this programmatically but you could start to think about this and other complex problems. 

We'll be back soon with another tutorial, but in the meantime have a play with what we've shown you and if you feel like looking at `strings` ahead of the next email, you could do worse than look at [this](https://realpython.com/python-strings/) tutorial, thanks.